:root {
  --main-color-purple: #A683E3;
  --second-color-purple: #E4E9FD;
  /*#c0a717*/
  /*#f5c690*/
}

body {
  background: black;
}

header {
  padding: 50px;
  text-align: center;
}

header h1 {
  margin: 0 auto;
  color: #fff;
  background-color: #F05454;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}


form {
  display: flex;
  flex-direction: column;
}

#todo-container {
  margin: 0 auto;
  width: 30%;
  background: #222831;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

label {
  font-family: 'Space Mono', monospace;
}

label, p {
  color: #DDDDDD;
}

#rick-img {
  padding-top: 2rem;
  width: 200px;
  margin: 0 auto;
  display: block;
}

input[type="text"] {
  width: 86%;
  margin-bottom: 20px;
  margin-top: 30px;
  height: 30px;
  border: none;
  background-color: #222831;
  color: #fff;
  font-family: 'Space Mono', monospace;
  text-align: center;
  font-size: 16px;
  outline: none;
}

::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
}

::-moz-placeholder {
  color: white;
  font-size: 16px;
}

button {
  align-self: flex-end;
  width: 45px;
  height: 45px;
  margin-left: 7px;
  border-radius: 50%;
  color: #fff;
  background-color: #F05454;
  border: none;
}

.checkbox-container {
  border-bottom: 1px solid  #30475E;
  padding: 20px;
}

input[type="checkbox"] {
  border: none;
  outline: none;
}

#star-bg img {
  z-index: -2;
  position: absolute;
  height: 1500px;
  width: 101%;
}
